# Specify the name of the service being deployed.
name: <application-name>
tier: <application-tier>
dnsZone: apps.example.com


# ********************************************
# *** WORKLOAD, CONFIGURATION, and VOLUMES ***
# ********************************************

image:
  repository: ghcr.io/srpt/placeholder
  pullPolicy: IfNotPresent
  tag: latest

persistentVolumeClaims:
- name: my-pvc
  accessModes: ["ReadWriteMany"]
  size: 10Gi
- name: my-other-pvc
  accessModes: ["ReadWriteOnce", "ReadWriteMany"]
  size: 100Gi
  storageClassName: standard-rwo
  volumeMode: Filesystem


# ***************
# *** SECRETS ***
# ***************

secretProviderClasses:
- name: example-aws-secrets
  provider: aws
  metadata:
    annotations:
      example.com/annotation: "value"
    labels:
      example.com/label: "value"
  spec:
    parameters:
      objects: |
        - objectName: "/my/secret/path"
          objectType: "secretsmanager"
          objectVersion: ""
- name: example-vault-secrets
  provider: vault
  metadata:
    annotations: {}
    labels: {}
  spec:
    parameters:
      vaultAddress: "https://vault.example.com"
      roleName: "k8s-role"
    secretObjects:
      - secretName: my-vault-secret
        type: Opaque
        data:
          - objectName: "secret/data/app"
            key: token

# ************
# *** RBAC ***
# ************

serviceAccount:
  create: true
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::<aws-account-id>:role/<aws-role-name>
  name: <service-account-name>